/* round buttons */

button,
.upload-btn {
	color: var(--clr-1);
	cursor: pointer;
	font-size: 1em;
	justify-self: center;
	align-self: center;
	height: var(--icon-button);
	width: var(--icon-button);
	transition: scale 0.3s;
	height: var(--icon-button);
	width: var(--icon-button);
}

button:hover,
.upload-btn:hover,
.upload {
	color: var(--clrbase);
	scale: 1.05;
}

/* Round */

.btn-round {
	border-radius: 2em;
}
