/* flex helpers */

.flex {
	display: flex;
}

.flex.column {
	flex-direction: column;
}

.flex.space-around {
	justify-content: space-around;
}

.flex.space-between {
	justify-content: space-between;
}

.flex.align-center {
	align-items: center;
}

.flex.center-all {
	justify-content: center;
	align-items: center;
}

.flex.even-columns > * {
	width: 100%;
}

/* grid helpers */
.grid {
	display: grid;
}
.grid.center-all {
	justify-content: center;
	align-content: center;
}

/* Cleaning settings */
.clean {
	margin: 0;
	padding: 0;
}

/* list helpers */
.clean.list {
	list-style-type: none;
}
