/* MAIN LAYOUT */
.main-layout {
	display: grid;
	grid-template-columns: var(--side-padding) 1fr var(--side-padding);
	grid-template-rows:
		2fr
		50vh
		1fr
		repeat(auto-fit, fit-content);
}

.main-layout > *:not(.full) {
	grid-column: 2;
}

.main-layout > .full {
	grid-column: 1 / -1;
}

/* NAV-BAR LAYOUT */
.nav-bar {
	left: 0;
	right: 0;
}

.nav-bar .menu .logo {
	margin-inline-start: 10px;
}

/* EDITOR LAYOUT */
.editor-container {
	display: flex;
	height: 450px;
}
.editor-container canvas {
	grid-column: 1;
}
.editor-container .control-box {
	grid-column: 3;
}
