/* MAIN LAYOUT */
/* .main-layout {
	display: grid;
	grid-template-columns: 5px 1fr 5px;
}

.main-layout > *:not(.full) {
	grid-column: 2;
}

.main-layout > .full {
	grid-column: 1 / -1;
} */

/* HEADER LAYOUT */
/* .header {
	left: 0;
	right: 0;
} */

/* CARD LAYOUT */

/* MAIN CONTENT */

/* EDITOR LAYOUT */
.editor-container {
	display: grid;
	grid-template-columns: 1fr 80px 1fr;
}
.editor-container canvas {
	grid-column: 1;
}
.editor-container .control-box {
	grid-column: 3;
}
