/* MAIN LAYOUT */
.main-layout {
	display: grid;
	grid-template-columns: 20px 1fr 20px;
	grid-template-rows:
		2fr
		50vh
		1fr;
}

.main-layout > *:not(.full) {
	grid-column: 2;
}

.main-layout > .full {
	grid-column: 1 / -1;
}

/* NAV-BAR LAYOUT */
.nav-bar {
	display: grid;
	grid-template-columns: 100px 1fr 1fr;
	grid-template-areas: 'l m';
	left: 0;
	right: 0;
}

.nav-bar .menu .logo {
	grid-area: l;
}
.nav-bar .menu a {
	grid-area: m;
}

/* EDITOR LAYOUT */
.editor-container {
	display: flex;
	/* grid-template-columns: 100px 10px 200px; */
	height: 450px;
	/* border: 1px solid red; */
}
.editor-container canvas {
	grid-column: 1;
}
.editor-container .control-box {
	grid-column: 3;
}
