.about-container {
	display: grid;
	padding-left: auto;
	justify-content: center;
}

.about-img {
	width: 300px;
	margin-top: 20px;
	margin-bottom: 30px;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.18);
	cursor: pointer;
	transition: scale 0.3s;
}

.about-img:hover {
	scale: 1.05;
}
