.img-container,
.memes-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 180px));
	grid-auto-flow: dense;
	gap: 10px;
	margin: 0 auto;
	margin-top: 10px;
	width: 100%;
	padding: 5px;
	padding-left: auto;
	justify-content: center;
}

.img-container img,
.memes-container .gallery-img {
	cursor: pointer;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 3px;
}

.gallery-img,
.my-meme {
	border-radius: 1.5em;
	transition: scale 0.4s opacity 0.9s;
	opacity: 0.9;
}

.gallery-img:hover,
.my-meme:hover {
	scale: 1.025;
	opacity: 1;
}

.text {
	position: absolute;
	bottom: -5%;
	left: 50%;
	transform: translateX(-50%);

	opacity: 0;
	transition: 200ms;
	pointer-events: none;
	user-select: none;
	z-index: 3;
	color: var(--clr2);
	text-shadow: rgba(0, 0, 0, 0.75) 0px 1px 3px, rgba(0, 0, 0, 0.75) 0px 1px 3px;
}
.card:hover .text {
	transform: translateX(-50%) translateY(-50%);
	opacity: 1;
}
.card {
	position: relative;
	margin-bottom: -8px;
}
