.control-box {
	display: grid;
	width: 100%;
	background-color: var(--clr6);
	margin-top: 10px;
	margin-bottom: -10px;
	padding: 10px;
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 3px;
	direction: ltr;
}

.color-wrapper {
	height: var(--icon-button);
	width: var(--icon-button);
	background-image: url(../../svg/color-picker.svg);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0;
	padding: 0;
}

.color-picker {
	opacity: 0;
	width: var(--icon-button);
	height: 100%;
	cursor: pointer;
}

.top-control,
.text-container,
.bottom-control {
	display: grid;
	grid-template-columns: repeat(auto-fit, var(--icon-button));
	grid-auto-flow: dense;
	justify-content: space-around;
	align-items: center;
}
.txt {
	min-width: 40px;
}
.font {
	width: 40px;
}

.emoji {
	font-size: var(--icon-button);
}
