.control-box {
	margin-top: 10px;
	display: grid;
	width: 100%;
	background-color: var(--clr5);
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 3px;
	direction: ltr;
	grid-template-columns: repeat(6, 1fr);
	justify-content: center;
	align-items: center;
	justify-items: center;
	padding: var(--ctrl-box-pad);
}

.color-wrapper {
	height: var(--icon-button);
	width: var(--icon-button);
	background-image: url(../../svg/color-picker.svg);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0;
	padding: 0;
}

.color-picker {
	opacity: 0;
	width: var(--icon-button);
	height: 100%;
	cursor: pointer;
}
.font-container {
	grid-column: span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.font {
	height: 20px;
	width: fit-content;
}
.txt {
	height: 20px;
	width: 90%;
}
.emoji {
	font-size: var(--icon-button);
}
.download-container {
	justify-self: center;
}
.fa-file-arrow-up {
	justify-self: center;
}
.upload-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}
.txt-container,
.top-controls,
.middle-controls,
.emoji-display,
.social-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-column: 1/-1;
	width: 100%;
}

body.rtl .txt-container,
body.rtl .middle-controls {
	direction: rtl;
}
