.nav-bar {
	height: var(--nav-height);
	background-color: var(--clr1);
}

.nav-bar .menu .about {
	margin-block-end: 10px;
}

.nav-bar .menu a {
	width: var(--nav-height);
	height: var(--nav-height);
	align-items: center;
	justify-content: center;

	text-transform: uppercase;
	display: flex;
	color: inherit;
	text-decoration: none;

	transition: box-shadow 0.4s;
}
