.img-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 100px);
	grid-auto-flow: dense;
	gap: 10px;
	margin: 0 auto;
	padding: 5px;
	transition: opacity 0.25s;
	opacity: 1;
}
.img-container img {
	cursor: pointer;
}
