:root {
	/* pallete */
	--clr0: #353535;
	--clr1: #3c6e71;
	--clr2: #efefef;
	--clr3: #b9ffd6;
	--clr4: #284b63;
	--clr5: darkblue;
	--clr6: #f3fff8;

	/* changing sizes */
	--nav-height: 50px;
	--icon-button: 20px;
	--side-padding: 5px;
	--inline-end-header: 5px;
}
