:root {
	--clr0: #353535;
	--clr1: #3c6e71;
	--clr2: #ffffff;
	--clr3: #d9d9d9;
	--clr4: #284b63;
	--clr-1: #284b63;
	--clr-2: #d9d9d9;
	--clrbase: darkblue;

	--nav-height: 80px;
}

/* --clr0: #ccd5ae;
	--clr1: #e9edc9;
	--clr2: #fefae0;
	--clr3: #faedcd;
	--clr4: #d4a373; */
